include ../subtitle-group/subtitle-group
include ../bulleted-list/bulleted-list

mixin education
  section.education
    +title("education", "star", "education__subtitle-group--icon")
    .education__bulleted-list-container
      +bulletedList({
        isColoredTitle: true,
        listItems: [
          {
            "title": "MASTER DEGREE",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "UNIVERSITY NAME",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          },
          {
            "title": "MASTER DEGREE",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "UNIVERSITY NAME",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          },
          {
            "title": "MASTER DEGREE",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "UNIVERSITY NAME",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          },
          {
            "title": "MASTER DEGREE",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "UNIVERSITY NAME",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          }
        ]
      })