.education
  &__subtitle-group
    &--icon
      margin-right rem(22px)
      +sm()
        margin-right rem(10px)
  &__bulleted-list-container
    margin-bottom rem(47px)
    padding rem(28px) 0 0 rem(15px)
