include ../section-header/section-header
include ../unordered-list/unordered-list

mixin education({ titleOptions, unorderedListOptions })
  section.education
    +section-header(titleOptions)
    .education__content
      +unordered-list(unorderedListOptions)