include ../section-header/section-header
include ../activity-list/activity-list

mixin education({ titleOptions, universitiesListOptions })
  - const { isColoredTitle, universitiesListItems } = universitiesListOptions;

  section.education
    +section-header(titleOptions)
    .education__content
      +activity-list({ isColoredTitle, activityListItems: universitiesListItems })