include ../subtitle-group/subtitle-group
include ../unordered-list/unordered-list

mixin education({ titleOptions, unorderedListOptions })
  section.education
    +subtitle-group(titleOptions)
    .education__unordered-list-container
      +unordered-list(unorderedListOptions)