mixin progress-bar(options)
  .progress-bar
    each barItem in options.barItems
      .progress-bar__item
        h3.progress-bar__title(
                  class=options.leftAlign ?
                  "progress-bar__title_left-justified" : ""
                  )= barItem.title
        if options.type === "circles"
          .progress-bar__indicator-container.progress-bar__indicator-container_rounded
            - for (var i = 0; i < options.progressLength; i++)
            if i < barItem.completedProgress
              span.progress-bar__indicator_rounded.progress-bar__indicator_full
            else
              span.progress-bar__indicator_rounded
        else
          .progress-bar__indicator-container.progress-bar__indicator-container_solid
            .progress-bar__indicator_solid.progress-bar__indicator_full(style=`width:${barItem.completedProgress}%`)
