@import "../../styles/variables.styl"

.progress-bar
  &__title
    margin 0 0 5px
    font-size 27px
    font-weight 400
    text-align center
    text-transform uppercase
    break-word()

    &_left-justified
      margin-bottom 11px
      text-align left

  &__indicator-container
    margin-bottom 24px

    &_solid
      height 24px
      background grey

    &_rounded
      display flex

  &__solid-indicator
    height 100%

    &_full
      background accent-color

  &__rounded-indicator
    width 5.55%
    flex-shrink 0
    margin 0 1.5%
    border-radius 50%
    background grey
    square()

    &:first-child
      margin-left 0

    &:last-child
      margin-right 0

    &_full
      background accent-color
