mixin progressBar(options)
    .progress-bar
        each barItem in options.barItems
            .progress-bar__item
                .progress-bar__title(class=options.titleClass)= barItem.title
                if options.type === 'circles'
                    .progress-bar__indicator
                        - for (var i = 0; i < options.progressLength; i++)
                            if i < barItem.progressFull
                                .progress-bar__indicator--item.progress-bar__indicator--item_full
                            else
                                .progress-bar__indicator--item
                else
                    .progress-bar__indicator.progress-bar__indicator_style_line
                        .progress-bar__indicator_full(style="width:" + barItem.progressFull + "%")
