.column
  &_size_4
    width: "calc(40.8% - %s)" % column-indent
    margin: 0 one-side-column-indent
    //background: orange
  &_size_6
    width: "calc(59.2% - %s)" % column-indent
    margin: 0 one-side-column-indent
    //background: blueviolet

