.column
  &_size_4
    flex-shrink 0
    width: calc(40.98%)
    padding-left: one-side-column-indent
    padding-right one-side-column-indent
    box-sizing: border-box
    //width: "calc(40.8% - %s)" % column-indent
    //margin: 0 one-side-column-indent
    //background: rgba(0, 0, 0, 0.5)
  &_size_6
    flex-shrink 0
    width: calc(59.02%)
    padding-left: one-side-column-indent
    padding-right: one-side-column-indent
    box-sizing: border-box
    //width: "calc(59.2% - %s)" % column-indent
    //margin: 0 one-side-column-indent
    //background: rgba(0, 0, 0, 0.5)

@media screen and (max-width: 800px)
  .column
    &_size_4,
    &_size_6
      width: 100%
      max-width: 600px
      padding-left: 20px
      padding-right: 20px

