include ../section-header/section-header

mixin profile({ titleOptions, text, importantText })
  section.profile
    +section-header(titleOptions)
    p.profile__text= text
      span.profile__important-text= importantText