include ../subtitle-group/subtitle-group

mixin profile({text, importantText})
  section.profile
    +title("profile", "user")
    p.main-text.profile__text= text
      span.main-text_bold= importantText