include ../subtitle-group/subtitle-group

mixin profile({text, importantText})
  section.profile
    +subtitle-group({titleText: "profile", icon: "user"})
    p.profile__text= text
      span.profile__text.profile__text_bold= importantText