mixin contact-list
  .contact-list
    .contact-list__row
      span.contact-list__title ADDRESS
      span.contact-list__text Main Street, City.
    .contact-list__row
      span.contact-list__title E-MAIL
      span.contact-list__text contact@domain.com
    .contact-list__row
      span.contact-list__title PHONE
      span.contact-list__text 555-555-555
    .contact-list__row
      span.contact-list__title WEBSITE
      span.contact-list__text www.yourweb.com