mixin contact-list
  .contact-list
    .contact-list__row
      .contact-list__title ADDRESS
      .contact-list__text Main Street, City.
    .contact-list__row
      .contact-list__title E-MAIL
      .contact-list__text
        a.contact-list__link(
            href="mailto: contact@domain.com"
          ) contact@domain.com
    .contact-list__row
      .contact-list__title PHONE
      .contact-list__text
        a.contact-list__link(href="tel: 555-555-555") 555-555-555
    .contact-list__row
      .contact-list__title WEBSITE
      .contact-list__text
        a.contact-list__link(
            href="http://www.yourweb.com"
            rel="noopener noreferrer"
            target="_blank"
          ) www.yourweb.com