mixin contact-list
  .contact-list
    .contact-list__row
      h3.contact-list__title ADDRESS
      .contact-list__text Main Street, City.
    .contact-list__row
      h3.contact-list__title E-MAIL
      .contact-list__text contact@domain.com
    .contact-list__row
      h3.contact-list__title PHONE
      .contact-list__text 555-555-555
    .contact-list__row
      h3.contact-list__title WEBSITE
      .contact-list__text www.yourweb.com