.contact-list
  display: table
  &__row
    display: table-row
  &__title
    display: table-cell
    padding: 0 44px 2rem 0
    font-size 1.3125rem
    font-weight: 600
    text-transform: uppercase
    color accent-color
  &__text
    display: table-cell
    padding-bottom: 2rem
    font-size 1.3125rem