@import "../../styles/variables.styl"

.contact-list
  display table
  width 100%
  table-layout fixed
  break-word()

  &__row
    display table-row

  &__title
  &__text
    display table-cell
    font-size 21px
    padding-bottom 32px

  &__title
    width 31%
    padding 0 15px 32px 0
    font-weight 600
    text-transform uppercase
    color accent-color

  &__link
    color inherit
    text-decoration none
    transition 0.2s ease-in-out

    &:hover
      color accent-color

