.progress-bar.skills__progress-bar
    .progress-bar__item
        .progress-bar__title CREATIVE
        .progress-bar__indicator
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item
            .progress-bar__indicator--item
            .progress-bar__indicator--item
    .progress-bar__item
        .progress-bar__title TEAMWORK
        .progress-bar__indicator
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item
    .progress-bar__item
        .progress-bar__title INNOVATE
        .progress-bar__indicator
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item
            .progress-bar__indicator--item
            .progress-bar__indicator--item
            .progress-bar__indicator--item
            .progress-bar__indicator--item
            .progress-bar__indicator--item
    .progress-bar__item
        .progress-bar__title COMMUNICATION
        .progress-bar__indicator
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item.progress-bar__indicator--item_full
            .progress-bar__indicator--item