@import "/../../stylus/variables"

.progress-bar
  &__title
    margin: 0 0 0.3125rem 0
    font-size 1.6875rem
    text-align: center
    &_align_left
      margin-bottom: 0.5625rem
      text-align: left
  &__indicator
    display: flex
    margin-bottom: 1.5rem
    &_full
      height: 100%
      background: accent-color
    &_style_line
      height: 1.5rem
      background: grey
    &--item
      width: 1.125rem /*5.76%*/
      flex-shrink: 0
      margin: 0 0.325rem /*0 1.5%*/
      border-radius: 50%
      background: grey
      overflow: hidden
      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0
      &:before
        content: ''
        float: left
        padding-top: 100%
      &_full
        background: accent-color

