.contact
  padding-bottom: 1rem
  &__list
    padding: 2.125rem 0 0 0
    &--row
      display: flex
      align-items center
      margin-bottom: 2rem
    &--title
      width: 31%
      //padding-right: 44px
      font-size 1.3125rem
      font-weight: 600
      text-transform: uppercase
      color accent-color
    &--text
      font-size 1.3125rem