.contact-list
  border: 1px solid black
  &__row
    display: flex
    align-items center
    margin-bottom: 2rem
  &__title
    width: 31%
    //padding-right: 44px
    font-size 1.3125rem
    font-weight: 600
    text-transform: uppercase
    color accent-color
  &__text
    font-size 1.3125rem