.education
  margin-bottom: 44px
  .subtitle-group
    &__icon
      margin-right: 1.375rem

@media screen and (max-width: 800px)
  .education
    .subtitle-group
      &__icon
        margin-right: 0.625rem