@import  "././variables.styl"

.subtitle-group
  display: flex
  align-items center
  break-word()
  &__icon
    width: 4.7813rem
    flex-shrink: 0
    margin-right: 0.625rem
    background: url("images/phone-icon.png") no-repeat center center
    background-size: contain
    square()
    &_user
      background-image: url("images/profile-icon.png")
    &_phone
      width: 4.75rem
      background-image: url("images/phone-icon.png")
    &_skills
      width: 4.75rem
      background-image: url("images/skills-icon.png")
    &_star
      width: 4.7438rem
      background-image: url("images/education-icon.png")
    &_portfolio
      width: 4.9375rem
      background-image: url("images/experience-icon.png")
    &_computer
      width: 4.75rem
      background-image: url("images/software-icon.png")
  &__title
    max-width: 70%
    margin: 0.375rem 0.5625rem 0 0
    font-size 2.625rem
    font-weight: 600
    text-transform: uppercase
    color: accent-color
  &__line
    width: 100%
    border-bottom: 6px solid accent-color