mixin subtitle-group({ titleText, icon, isBigIndent })
  header.subtitle-group
    .subtitle-group__icon(
      class=`subtitle-group__icon_with-${icon}`
      class=isBigIndent ? "subtitle-group__icon_with-big-indent" : ""
    )
    h2.subtitle-group__title= titleText
    .subtitle-group__line