mixin title(titleText, icon, iconClasses)
  header.subtitle-group
    .subtitle-group__icon(
    class='subtitle-group__icon_' + icon
    class=iconClasses)
    h2.subtitle-group__title= titleText
    .subtitle-group__line