@import  "././variables.styl"

.subtitle-group
  display flex
  align-items center
  break-word()
  &__icon
    width rem(76px)
    flex-shrink 0
    margin-right rem(10px)
    background url("images/phone-icon.png") no-repeat center center
    background-size contain
    square()
    &_user
      background-image url("images/profile-icon.png")
    &_phone
      background-image url("images/phone-icon.png")
    &_skills
      background-image url("images/skills-icon.png")
    &_star
      background-image url("images/education-icon.png")
    &_portfolio
      width rem(79px)
      background-image url("images/experience-icon.png")
    &_computer
      background-image url("images/software-icon.png")
  &__title
    max-width 70%
    margin rem(6px) rem(9px) 0 0
    font-size rem(42px)
    font-weight 600
    text-transform uppercase
    color accent-color
  &__line
    width 100%
    border-bottom rem(6px) solid accent-color