.subtitle-group
  display: flex
  align-items center
  &__icon
    width: 76px
    height: 74px
    background: url("/images/PROFILE_ICON.png") no-repeat center center
    background-size: contain
  &__title
    font-size 42px
    font-weight: 600
    color: accent-color
  &__line
    width: 100%
    border-bottom: 6px solid accent-color