fontFace('MyriadPro', 'normal', 300, 'MyriadPro-LightSemiExt')
fontFace('MyriadPro', 'normal', 400, 'MyriadPro-Regular')
fontFace('MyriadPro', 'normal', 600, 'MyriadPro-Bold')

*
  margin 0
  padding 0
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

img
  max-width 100%

html
  font-size 16px
  +md()
    font-size 14px

body
  font-family 'MyriadPro', sans-serif
  font-size 1rem
  font-weight 400

.main-text
  //font-size 16px
  font-weight 400
  line-height 1.2
  &_weight_bold
    font-weight 600

//@media screen and (max-width 1024px)
//  html
//    font-size 14px

@media screen and (max-width 400px)
  html
    font-size 12px

