@import "../../node_modules/normalize-stylus/normalize.styl"
@import "variables.styl"
@import "common.styl"

@import "../components/subtitle-group"
@import "../components/unordered-list"
@import "../components/progress-bar"
@import "../components/contact-list"

@import "../components/wrapper/wrapper"
@import "../components/personal-data"
@import "../components/profile"
@import "../components/contact"
@import "../components/skills"
@import "../components/education"
@import "../components/experience"
@import "../components/software"