/* Colors */

accent-color = #3d6cb0
black = #000000
grey = #e6e6e6
light-black = #020202

/* indents */

column-indent = 6.3%
one-side-column-indent = column-indent / 2

/* Media */

$md = 1024px
$sm = 800px
$xs = 600px

/* Mixins */

/* Media mixin */

md()
  @media screen and (max-width: $md)
    {block}

sm()
  @media screen and (max-width: $sm)
    {block}

xs()
  @media screen and (max-width: $xs)
    {block}

/* Font-Face */

fontUrl(file)
  return 'fonts/' + file

fontFace(family, style, weight, file)
  @font-face
    font-family family
    font-style style
    font-weight weight
    src url(fontUrl(file + '.svg')) format('svg'),
    url(fontUrl(file + '.woff')) format('woff'),
    url(fontUrl(file + '.ttf')) format('ttf')

/* Adaptive square */

square()
  overflow: hidden
  &:after
    content ''
    padding-top: 100%
    float: left

