.wrapper__column.wrapper__column_size_4
    .wrapper__personal-data-container
        include personal-data/personal-data
    include profile/profile
    include contact/contact
    include skills/skills

.wrapper__column.wrapper__column_size_6
    include education/education
    include experience/experience
    include software/software