.wrapper
  display flex
  max-width 1232px
  margin 0 auto
  padding: 78px 0
  &__column
    flex-shrink 0
    padding-left: one-side-column-indent
    padding-right one-side-column-indent
    box-sizing: border-box
    &_size_4
      width: calc(40.98%)
      //width: "calc(40.8% - %s)" % wrapper-indent
      //margin: 0 one-side-wrapper-indent
      //background: rgba(0, 0, 0, 0.5)
    &_size_6
      width: calc(59.02%)
      //width: "calc(59.2% - %s)" % wrapper-indent
      //margin: 0 one-side-wrapper-indent
      //background: rgba(0, 0, 0, 0.5)

@media screen and (max-width: 800px)
  .wrapper
    flex-direction: column
    align-items center
    &__column
      &_size_4,
      &_size_6
        width: 100%
        max-width: 600px
        padding-left: 20px
        padding-right: 20px

