@import "../../styles/variables.styl"

.skills
  &__list
    max-width 332px
    margin 0 auto
    padding-top 25px
    list-style-type none

  &__list-item
    margin-bottom 24px

    &-title
      margin 0 0 5px
      font-size 27px
      font-weight 400
      text-align center
      text-transform uppercase
      break-word()
