.skills
  //border: 1px solid black
  +md()
    margin-bottom: 3rem
  &__progress-bar
    max-width: 332px
    margin: 0 auto
    padding-top: 1.5625rem

//@media screen and (max-width: 800px)
//  .skills
//    margin-bottom: 3rem