include ../subtitle-group/subtitle-group
include ../progress-bar/progress-bar

mixin skills
  section.skills
    +title("skills", "bulb")
    .skills__progress-bar-container
      +progressBar({
        type: "circles",
        progressLength: 12,
        barItems: [
          {
            title: "creative",
            completedProgress: 9
          },
          {
            title: "teamwork",
            completedProgress: 11
          },
          {
            title: "innovate",
            completedProgress: 6
          },
          {
            title: "communication",
            completedProgress: 11
          }
        ]
      })
