include ../section-header/section-header
include ../discrete-bar/discrete-bar

mixin skills({ titleOptions, barItems })
  section.skills
    +section-header(titleOptions)
    ul.skills__list
      each barItem in barItems
        - let { title, value } = barItem;
          li.skills__list-item
            h3.skills__list-item-title= title
            +discrete-bar({ value })
