include ../subtitle-group/subtitle-group
include ../progress-bar/progress-bar

mixin skills
  section.skills
    +title("skills", "skills")
    .skills__progress-bar
      +progressBar({
        type: "circles",
        progressLength: 12,
        barItems: [
          {
            title: "creative",
            progressFull: 9
          },
          {
            title: "teamwork",
            progressFull: 11
          },
          {
            title: "innovate",
            progressFull: 6
          },
          {
            title: "communication",
            progressFull: 11
          }
        ]
      })
