section.software
    include ../subtitle-group/subtitle-group
    +title('software')(class="subtitle-group__icon_computer")
    .progress-bar.software__progress-bar
        .software__progress-bar--col
            include ../progress-bar/progress-bar
            +progressBar({
              class: 'software__progress-bar',
              barItems: [
                {
                  title: 'PHOTOSHOP',
                  progressFull: 90
                },
                {
                  title: 'ILLUSTRATOR',
                  progressFull: 70
                },
                {
                  title: 'INDESIGN',
                  progressFull: 50
                }
              ]
            })
        .software__progress-bar--col
            include ../progress-bar/progress-bar
            +progressBar({
              class: 'software__progress-bar',
              barItems: [
                {
                  title: 'DREAMWEAVER',
                  progressFull: 80
                },
                {
                  title: 'AFTER EFFECTS',
                  progressFull: 65
                },
                {
                  title: 'HTML&CSS3',
                  progressFull: 95
                }
              ]
            })
