mixin bulletedList(options)
    ul.bulleted-list
        each listItem in options.listItems
            li.bulleted-list__item
                h3(class=options.isColoredTitle ? 'bulleted-list__item--title bulleted-list__item--title_color_accent':'bulleted-list__item--title')= listItem.h3
                span.bulleted-list__item--date= listItem.span
                h4.bulleted-list__item--subtitle= listItem.h4
                p.bulleted-list__item--paragraph= listItem.p

