ul.bulleted-list
    li.bulleted-list__item
        h3.bulleted-list__item--title MASTER DEGREE
        span.bulleted-list__item--date // Feb 2011 - Jun 2014
        h4.bulleted-list__item--subtitle UNIVERSITY NAME
        p.bulleted-list__item--paragraph
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            | Aenean commodo ligula eget dolor. Aenean massa.
            | Cum sociis natoque penatibus et magnis dis parturient
            | montes, nascetur ridiculus mus. Donec quam felis,
            | ultricies nec, pellentesque.
    li.bulleted-list__item
        h3.bulleted-list__item--title MASTER DEGREE
        span.bulleted-list__item--date // Feb 2011 - Jun 2014
        h4.bulleted-list__item--subtitle UNIVERSITY NAME
        p.bulleted-list__item--paragraph
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            | Aenean commodo ligula eget dolor. Aenean massa.
            | Cum sociis natoque penatibus et magnis dis parturient
            | montes, nascetur ridiculus mus. Donec quam felis,
            | ultricies nec, pellentesque.
    li.bulleted-list__item
        h3.bulleted-list__item--title MASTER DEGREE
        span.bulleted-list__item--date // Feb 2011 - Jun 2014
        h4.bulleted-list__item--subtitle UNIVERSITY NAME
        p.bulleted-list__item--paragraph
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            | Aenean commodo ligula eget dolor. Aenean massa.
            | Cum sociis natoque penatibus et magnis dis parturient
            | montes, nascetur ridiculus mus. Donec quam felis,
            | ultricies nec, pellentesque.
    li.bulleted-list__item
        h3.bulleted-list__item--title MASTER DEGREE
        span.bulleted-list__item--date // Feb 2011 - Jun 2014
        h4.bulleted-list__item--subtitle UNIVERSITY NAME
        p.bulleted-list__item--paragraph
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            | Aenean commodo ligula eget dolor. Aenean massa.
            | Cum sociis natoque penatibus et magnis dis parturient
            | montes, nascetur ridiculus mus. Donec quam felis,
            | ultricies nec, pellentesque.
