@import "../../styles/variables.styl"

.unordered-list
  list-style-type none

  &__item
    position relative
    margin-bottom rem(16px)
    padding-left rem(42px)

    &:before
      content ""
      display block
      position absolute
      top rem(3px)
      left 0
      width rem(20px)
      height rem(20px)
      border-radius 50%
      background black
      line-height 0

    &-paragraph
      line-height 1.2

    &-title
    &-date
    &-subtitle
      display inline-block
      font-size rem(27px)

    &-title
      margin 0 rem(11px) rem(2px) 0
      font-weight 600
      line-height 1.2
      text-transform uppercase

      &_accent
        color accent-color

    &-date
      color light-black

    &-subtitle
      margin-bottom rem(4px)
      font-weight 400
      text-transform uppercase