mixin unordered-list({ isColoredTitle, listItems })
  ul.unordered-list
    each listItem in listItems
      - const {title, date, subtitle, text} = listItem;
      li.unordered-list__item
        span.unordered-list__item-title(
          class=isColoredTitle ? "unordered-list__item-title_accent" : ""
        )= title
        span.unordered-list__item-date= `// ${date}`
        span.unordered-list__item-subtitle= subtitle
        p.unordered-list__item-paragraph= text


