@font-face
  font-family 'MyriadPro'
  font-style normal
  font-weight 300
  src url('/fonts/MyriadPro-LightSemiExt.svg'),
      url('/MyriadPro-LightSemiExt.ttf'),
      url('/fonts/MyriadPro-LightSemiExt.woff')

@font-face
  font-family 'MyriadPro'
  font-style normal
  font-weight 400
  src url('/fonts/MyriadPro-Regular.svg'),
      url('/fonts/MyriadPro-Regular.ttf'),
      url('/fonts/MyriadPro-Regular.woff')

@font-face
  font-family 'MyriadPro'
  font-style normal
  font-weight 600
  src url('/fonts/MyriadPro-Bold.svg'),
      url('/fonts/MyriadPro-Bold.ttf'),
      url('/fonts/MyriadPro-Bold.woff')

*
  margin 0
  padding 0
img
  max-width: 100%

body
  font-family 'MyriadPro', sans-serif
  font-size: 16px
  font-weight 400

.wrapper
  display flex
  max-width 1236px
  min-height 100vh
  margin 0 auto
  padding: 78px 0

.main-text
  font-size: 16px
  font-weight 400
  &_weight_bold
    font-weight: 600



