@font-face
  font-family 'MyriadPro'
  font-style normal
  font-weight 300
  src url('fonts/MyriadPro-LightSemiExt.svg'),
      url('fonts/MyriadPro-LightSemiExt.ttf'),
      url('fonts/MyriadPro-LightSemiExt.woff')

@font-face
  font-family 'MyriadPro'
  font-style normal
  font-weight 400
  src url('fonts/MyriadPro-Regular.svg'),
      url('fonts/MyriadPro-Regular.ttf'),
      url('fonts/MyriadPro-Regular.woff')

@font-face
  font-family 'MyriadPro'
  font-style normal
  font-weight 600
  src url('fonts/MyriadPro-Bold.svg'),
      url('fonts/MyriadPro-Bold.ttf'),
      url('fonts/MyriadPro-Bold.woff')

*
  margin 0
  padding 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

img
  max-width: 100%

html
  font-size: 16px

body
  font-family 'MyriadPro', sans-serif
  font-size: 1rem
  font-weight 400

.main-text
  //font-size: 16px
  font-weight 400
  line-height: 1.2
  &_weight_bold
    font-weight: 600

@media screen and (max-width: 1024px)
  html
    font-size: 14px

@media screen and (max-width: 400px)
  html
    font-size: 12px

