@import "variables.styl"
@import "common.styl"
@import "../column"
@import "../column/personal-data"
@import "../column/subtitle-group"
@import "../column/profile"
@import "../column/contact"
@import "../column/skills"
@import "../column/progress-bar"
@import "../column/education"
@import "../column/bulleted-list"
@import "../column/experience"
@import "../column/software"