@import "../../node_modules/normalize-stylus/normalize.styl"
@import "variables.styl"
@import "common.styl"
@import "../wrapper/wrapper"
@import "../wrapper/personal-data"
@import "../wrapper/subtitle-group"
@import "../wrapper/profile"
@import "../wrapper/contact"
@import "../wrapper/contact-list"
@import "../wrapper/skills"
@import "../wrapper/progress-bar"
@import "../wrapper/education"
@import "../wrapper/bulleted-list"
@import "../wrapper/experience"
@import "../wrapper/software"