@font-face
  font-family Myriad Pro
  font-style normal
  src url(/../fonts/Myriad_Pro_Light_SemiExt_Regular.svg) url(/../fonts/Myriad_Pro_Light_SemiExt_Regular.ttf) url(/../fonts/Myriad_Pro_Light_SemiExt_Regular.woff)

body
  color: red
  display: flex
  border-radius: 5px
  font-family 'Myriad Pro' sans-serif
