@import "../../styles/variables.styl"

.wrapper
  display flex
  width: 100%
  max-width 1232px
  min-width: 320px
  margin 0 auto
  padding rem(78px) 0
  +sm()
    flex-direction column
    align-items center
  &__column
    flex-shrink 0
    padding-left one-side-column-indent
    padding-right one-side-column-indent
    &_4-size
      width 40.98%
    &_6-size
      width 59.02%
    &_4-size
    &_6-size
      +sm()
        width 100%
        max-width 600px
        padding-left rem(20px)
        padding-right rem(20px)
  &__personal-data-container
    padding rem(12px) 0 rem(78px) rem(20px)
    +sm()
      padding-left 0
  &__profile-container
    padding-bottom rem(46px)

