mixin wrapper
    .wrapper
        .wrapper__column.wrapper__column_size_4
            .wrapper__personal-data-container
                include ../personal-data/personal-data
                +personal-data
            .wrapper__profile-container
                include ../profile/profile
                +profile
            include ../contact/contact
            +contact
            include ../skills/skills
            +skills

        .wrapper__column.wrapper__column_size_6
            include ../education/education
            +education
            include ../experience/experience
            +experience
            include ../software/software
            +software