@import "../../styles/variables.styl"

.wrapper
  &__blocks
    display flex
    width: 100%
    max-width 1232px
    min-width: 320px
    margin 0 auto
    padding 78px 0

    +sm()
      flex-direction column
      align-items center

  &__column
    flex-shrink 0
    padding-left one-side-column-indent
    padding-right one-side-column-indent

    &_left
      width 40.98%

    &_right
      width 59.02%

    &_left
    &_right
      +sm()
        width 100%
        max-width 600px
        padding-left 20px
        padding-right 20px

  &__personal-data
    padding 12px 0 78px 20px

    +sm()
      padding-left 0

  &__profile
    padding-bottom 46px

  &__skills
    +md()
      margin-bottom 48px

