include ../personal-data/personal-data
include ../profile/profile
include ../contact/contact
include ../skills/skills
include ../education/education
include ../experience/experience
include ../software/software

mixin wrapper
  main.wrapper
    .wrapper__column.wrapper__column_left
      .wrapper__personal-data-container
        +personal-data({
          imgSrc: "images/photo.jpg",
          alt: "Personal photo",
          name: "name here",
          surname: "surname",
          profession: "graphic designer"
        })
      .wrapper__profile-container
        +profile({
          text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu",
          importantText: "pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque."
        })
      +contact
      +skills
    .wrapper__column.wrapper__column_right
      +education
      +experience
      +software