include ../personal-data/personal-data
include ../profile/profile
include ../contact/contact
include ../skills/skills
include ../education/education
include ../experience/experience
include ../software/software

mixin wrapper({ personalDataOptions, profileOptions, contactOptions, skillsOptions, educationOptions, experienceOptions, softwareOptions })
  main.wrapper
    .wrapper__column.wrapper__column_left
      .wrapper__personal-data-container
        +personal-data(personalDataOptions)
      .wrapper__profile-container
        +profile(profileOptions)
      +contact(contactOptions)
      +skills(skillsOptions)
    .wrapper__column.wrapper__column_right
      +education(educationOptions)
      +experience(experienceOptions)
      +software(softwareOptions)