include ../personal-data/personal-data
include ../profile/profile
include ../contact/contact
include ../skills/skills
include ../education/education
include ../experience/experience
include ../software/software

mixin wrapper({ personalDataOptions, profileOptions, contactOptions, skillsOptions, educationOptions, experienceOptions, softwareOptions })
  main.wrapper
    .wrapper__blocks
      .wrapper__column.wrapper__column_left
        .wrapper__personal-data
          +personal-data(personalDataOptions)
        .wrapper__profile
          +profile(profileOptions)
        .wrapper__contact
          +contact(contactOptions)
        .wrapper__skills
          +skills(skillsOptions)
      .wrapper__column.wrapper__column_right
        .wrapper__education
          +education(educationOptions)
        .wrapper__experience
          +experience(experienceOptions)
        .wrapper__software
          +software(softwareOptions)