section.experience
    include ../subtitle-group/subtitle-group
    +title('experience')(class="subtitle-group__icon_portfolio")
    .experience__bulleted-list-container
      include ../bulleted-list/bulleted-list
      +bulletedList({
        isColoredTitle: false,
        listItems: [
          {
            'h3': 'COMPANY NAME',
            'span':'// Feb 2011 - Jun 2014',
            'h4': 'YOUR JOB HERE',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          },
          {
            'h3': 'COMPANY NAME',
            'span': '// Feb 2011 - Jun 2014',
            'h4': 'YOUR JOB HERE',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          },
          {
            'h3': 'COMPANY NAME',
            'span': '// Feb 2011 - Jun 2014',
            'h4': 'YOUR JOB HERE',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          }
        ]
      })