.experience
  //border: 1px solid black
  &__bulleted-list-container
    margin-bottom: 51px
    padding: 2.875rem 0 0 0.9375rem
  .subtitle-group
    &__icon
      margin-right: 1.19rem
      +sm()
        margin-right 0.625rem


//@media screen and (max-width: 800px)
//  .experience
//    .subtitle-group
//      &__icon
//        margin-right: 0.625rem