section.education
    include ../subtitle-group/subtitle-group
    +title('education')(class="subtitle-group__icon_star")
    .education__bulleted-list-container
      include ../bulleted-list/bulleted-list
      +bulletedList({
        isColoredTitle: true,
        listItems: [
          {
            'h3': 'MASTER DEGREE',
            'span':'// Feb 2011 - Jun 2014',
            'h4': 'UNIVERSITY NAME',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          },
          {
            'h3': 'MASTER DEGREE',
            'span': '// Feb 2011 - Jun 2014',
            'h4': 'UNIVERSITY NAME',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          },
          {
            'h3': 'MASTER DEGREE',
            'span': '// Feb 2011 - Jun 2014',
            'h4': 'UNIVERSITY NAME',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          },
          {
            'h3': 'MASTER DEGREE',
            'span': '// Feb 2011 - Jun 2014',
            'h4': 'UNIVERSITY NAME',
            'p': 'Lorem ipsum dolor sit amet, consectetuer ' +
                'adipiscing elit. Aenean commodo ligula eget dolor. ' +
                'Aenean massa. Cum sociis natoque penatibus et magnis ' +
                'dis parturient montes, nascetur ridiculus mus. ' +
                'Donec quam felis, ultricies nec, pellentesque.'
          }
        ]
      })