include ../subtitle-group/subtitle-group
include ../contact-list/contact-list

mixin contact
  section.contact
    +subtitle-group("contact", "phone")
    .contact__contact-list-container
      +contact-list({
        mail: "contact@domain.com",
        phone: "555-555-555",
        website: "www.yourweb.com"
      })