mixin contact
  section.contact
    include ../subtitle-group/subtitle-group
    +title('contact', 'phone')
    .contact__contact-list-container
      include ../contact-list/contact-list
      +contact-list