include ../section-header/section-header
include ../contact-list/contact-list

mixin contact({ titleOptions, contactListOptions })
  section.contact
    +section-header(titleOptions)
    .contact__content
      +contact-list(contactListOptions)