include ../subtitle-group/subtitle-group
include ../contact-list/contact-list

mixin contact({ titleOptions, contactListOptions })
  section.contact
    +subtitle-group(titleOptions)
    .contact__contact-list-container
      +contact-list(contactListOptions)