mixin section-header({ titleText, icon, isBigIndent })
  -
    const icons = {
      profile: 'user',
      contact: 'phone',
      skills: 'bulb',
      education: 'star',
      experience: 'bag',
      software: 'computer'
    };

    if (!icons[icon]) {
      icons[icon] = 'bag';
    }

  header.section-header
    .section-header__icon(
      class=`section-header__icon_with-${icons[icon]}`
      class=isBigIndent ? "section-header__icon_with-big-indent" : ""
    )
    h2.section-header__title= titleText
    .section-header__line