mixin section-header({ titleText, icon, isBigIndent })
  -
    const icons = ['user', 'phone', 'bulb', 'star', 'bag', 'computer'];

    if (icons.indexOf(icon) === -1) {
      icon = 'bag';
    }

  header.section-header
    .section-header__icon(
      class=`section-header__icon_with-${icon}`
      class=isBigIndent ? "section-header__icon_with-big-indent" : ""
    )
    h2.section-header__title= titleText
    .section-header__line