@import "../../styles/variables.styl"

.activity-list
  list-style-type none

  &__item
    position relative
    margin-bottom 16px
    padding-left 42px

    &:before
      content ""
      display block
      position absolute
      top 3px
      left 0
      width 20px
      height 20px
      border-radius 50%
      background black
      line-height 0

    &-paragraph
      line-height 1.2

    &-title
    &-date
    &-subtitle
      display inline-block
      font-size 27px

    &-title
      margin 0 11px 2px 0
      font-weight 600
      line-height 1.2
      text-transform uppercase

      &_accent
        color accent-color

    &-date
      color light-black

    &-subtitle
      margin-bottom 4px
      font-weight 400
      text-transform uppercase