mixin activity-list({ isColoredTitle, activityListItems })
  ul.activity-list
    each listItem in activityListItems
      - const {title, date, subtitle, text} = listItem;
      li.activity-list__item
        span.activity-list__item-title(
          class=isColoredTitle ? "activity-list__item-title_accent" : ""
        )= title
        span.activity-list__item-date= `// ${date}`
        span.activity-list__item-subtitle= subtitle
        p.activity-list__item-paragraph= text


