.contact
  &__list
    padding: 34px 0 0 4px
    &--row
      display: flex
      align-items center
      margin-bottom: 31px
    &--title
      width: 31%
      //padding-right: 44px
      font-size 21px
      font-weight: 600
      text-transform: uppercase
      color accent-color
    &--text
      font-size 21px