.bulleted-list
  list-style-type: none
  &__item
    position: relative
    margin-bottom: 1rem
    padding-left: 2.625rem
    &:before
      content: ""
      display: block
      position: absolute
      top: 0.1875rem
      left: 0
      width: 1.25rem
      height: 1.25rem
      border-radius: 50%
      background: black
      line-height: 0
    &--title
      display: inline-block
      margin: 0 0.6875rem 0.125rem 0
      font-size 1.6875rem
      font-weight: 600
      line-height: 1.2
      &_color_accent
        color: accent-color
    &--date
      display: inline-block
      font-size 1.6875rem
      color: light-black
    &--subtitle
      margin-bottom: 0.25rem
      font-size 1.6875rem
      font-weight: 400