include ../section-header/section-header
include ../activity-list/activity-list

mixin experience({ titleOptions, unorderedListOptions })
  section.experience
    +section-header(titleOptions)
    .experience__content
      +activity-list(unorderedListOptions)