include ../subtitle-group/subtitle-group
include ../unordered-list/unordered-list

mixin experience({ titleOptions, unorderedListOptions })
  section.experience
    +subtitle-group(titleOptions)
    .experience__content
      +unordered-list(unorderedListOptions)