include ../subtitle-group/subtitle-group
include ../bulleted-list/bulleted-list

mixin experience
  section.experience
    +title("experience", "portfolio", "experience__subtitle-group--icon")
    .experience__bulleted-list-container
      +bulletedList({
        listItems: [
          {
            "title": "company name",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "your job here",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          },
          {
            "title": "company name",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "your job here",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          },
          {
            "title": "company name",
            "date": "Feb 2011 - Jun 2014",
            "subtitle": "your job here",
            "text": "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
          }
        ]
      })