include ../subtitle-group/subtitle-group
include ../progress-bar/progress-bar

mixin software
  section.software
    +title("software", "computer", "software__subtitle-group--icon")
    .software__progress-bar--container
      .software__progress-bar--col
        +progressBar({
          titleClass: "software__progress-bar--title",
          barItems: [
            {
              title: "photoshop",
              progressFull: 91
            },
            {
              title: "illustrator",
              progressFull: 71
            },
            {
              title: "indesign",
              progressFull: 56.5
            }
          ]
        })
      .software__progress-bar--col
        +progressBar({
          titleClass: "software__progress-bar--title",
          barItems: [
            {
              title: "dreamweaver",
              progressFull: 84
            },
            {
              title: "after effects",
              progressFull: 62
            },
            {
              title: "html&css3",
              progressFull: 92
            }
          ]
        })
