include ../subtitle-group/subtitle-group
include ../progress-bar/progress-bar

mixin software({ titleOptions, leftColProgressBarOptions, rightColProgressBarOptions })
  section.software
    +subtitle-group(titleOptions)
    .software__progress-bar-container
      .software__progress-bar-col
        +progress-bar(leftColProgressBarOptions)
      .software__progress-bar-col
        +progress-bar(rightColProgressBarOptions)
