include ../subtitle-group/subtitle-group
include ../progress-bar/progress-bar

mixin software
  section.software
    +title("software", "computer", true)
    .software__progress-bar-container
      .software__progress-bar-col
        +progressBar({
          leftAlign: true,
          barItems: [
            {
              title: "photoshop",
              completedProgress: 91
            },
            {
              title: "illustrator",
              completedProgress: 71
            },
            {
              title: "indesign",
              completedProgress: 56.5
            }
          ]
        })
      .software__progress-bar-col
        +progressBar({
          leftAlign: true,
          barItems: [
            {
              title: "dreamweaver",
              completedProgress: 84
            },
            {
              title: "after effects",
              completedProgress: 62
            },
            {
              title: "html&css3",
              completedProgress: 92
            }
          ]
        })
