include ../section-header/section-header
include ../progress-bar/progress-bar

mixin software({ titleOptions, leftBarItems, rightBarItems })
  section.software
    +section-header(titleOptions)
    .software__lists
      ul.software__list
        each barItem in leftBarItems
          - let { title, completedProgress } = barItem;
            li.software__list-item
              h3.software__list-item-title= title
              +progress-bar({ completedProgress })
      ul.software__list
        each barItem in rightBarItems
          - let { title, completedProgress } = barItem;
            li.software__list-item
              h3.software__list-item-title= title
              +progress-bar({ completedProgress })
