@import "../../styles/variables.styl"

.software
  &__lists
    margin 28px 0 0 9px
    display flex

    +xs()
      flex-direction column
      align-items center

  &__list
    width 50%
    list-style-type none

    +xs()
      width 100%

    &:first-child
      margin-right 36px

      +xs()
        margin-right 0

    &:last-child
      margin-left 36px

      +xs()
        margin-left 0

  &__list-item
    margin-bottom 24px

  &__list-item-title
    margin-bottom 11px
    font-size 27px
    font-weight 400
    text-align left
    text-transform uppercase
    break-word()