include ../subtitle-group/subtitle-group
include ../progress-bar/progress-bar

mixin software
  section.software
    +title("software", "computer", "software__subtitle-group--icon")
    .software__progress-bar--container
      .software__progress-bar--col
        +progressBar({
          titleClass: "software__progress-bar--title",
          barItems: [
            {
              title: "PHOTOSHOP",
              progressFull: 91
            },
            {
              title: "ILLUSTRATOR",
              progressFull: 71
            },
            {
              title: "INDESIGN",
              progressFull: 56.5
            }
          ]
        })
      .software__progress-bar--col
        +progressBar({
          titleClass: "software__progress-bar--title",
          barItems: [
            {
              title: "DREAMWEAVER",
              progressFull: 84
            },
            {
              title: "AFTER EFFECTS",
              progressFull: 62
            },
            {
              title: "HTML&CSS3",
              progressFull: 92
            }
          ]
        })
