@import  "././variables.styl"

.personal-data
  text-align: center
  break-word()
  &__picture
    display: inline-block
    width: 100%
    max-width: 240px
    margin: 0 0 1.6rem 1px
    padding: 0.9375rem
    border-radius: 50%
    border 1px solid accent-color
    box-sizing: border-box
    font-size: 0
    square()
    +md()
      width: 100%
      max-width: 80%
      padding: 5%
  &__img
    border-radius: 50%
  &__name
    margin: 0 0 0.05rem 0
    font-size 3.375rem
    font-weight: 300
    text-transform uppercase
    letter-spacing: 0.012em
    line-height: 1
  &__surname
    margin: 0 0 0.4rem 0
    font-size 4rem
    font-weight: 600
    text-transform uppercase
    line-height: 1
    //letter-spacing: -0.008em
  &__profession
    font-size 1.625rem
    font-weight 600
    text-transform uppercase
    letter-spacing: -0.026em
    line-height: 1

//@media screen and (max-width: 800px)
//  .personal-data
//    &__picture
//      width: 100%
//      max-width: 80%
//      padding: 5%
