mixin personal-data
  .personal-data
    .personal-data__picture
      img.personal-data__img(src='images/photo.jpg')
    h1.personal-data__name name here
    h2.personal-data__surname surname
    h3.personal-data__profession graphic designer