@import "../../styles/variables.styl"

.personal-data
  text-align center
  break-word()
  &__picture
    display inline-block
    width 100%
    max-width 240px
    margin 0 0 rem(26px) rem(1px)
    padding rem(15px)
    border-radius 50%
    border rem(1px) solid accent-color
    font-size 0
    square()
    +md()
      width 80%
      max-width 80%
      padding 5%
  &__img
    border-radius 50%
  &__name
  &__surname
  &__profession
    text-transform uppercase
    line-height 1
  &__name
    margin 0 0 rem(1px) 0
    font-size rem(54px)
    font-weight 300
    letter-spacing 0.012em
  &__surname
    margin 0 0 rem(6px) 0
    font-size rem(64px)
    font-weight 600
  &__profession
    font-size rem(26px)
    font-weight 600
    letter-spacing -0.026em