.experience
  margin-bottom: 47px
  .subtitle-group
    margin-bottom: 18px
    &__icon
      margin-right: 1.19rem

@media screen and (max-width: 800px)
  .experience
    .subtitle-group
      &__icon
        margin-right: 0.625rem