include components/wrapper/wrapper
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="keywords", content="graphic designer, graphic designer " +
        "resume, experienced graphic designer")
    meta(name="description", content="Graphic designer with higher " +
        "education and extensive experience with the knowledge of photoshop, " +
        "illustrator and many other programs")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="msapplication-TileColor" content="#9f00a7")
    meta(name="theme-color" content="#ffffff")
    title Resume
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="site.webmanifest")
    link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
  body
    +wrapper({
      personalDataOptions: {
        imgSrc: "images/photo.jpg",
        alt: "Personal photo",
        name: "name here",
        surname: "surname",
        profession: "graphic designer"
      },
      profileOptions: {
        titleOptions: {titleText: "profile", icon: "user"},
        text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu",
        importantText: "pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque."
      },
      contactOptions: {
        titleOptions: {titleText: "contact", icon: "phone"},
        contactListOptions: {
          address: "Main Street, City.",
          mail: "contact@domain.com",
          phone: "555-555-555",
          website: "www.yourweb.com"
        }
      },
      skillsOptions: {
        titleOptions: {titleText: "skills", icon: "bulb"},
        barItems: [
          {
            title: "creative",
            value: 9
          },
          {
            title: "teamwork",
            value: 11
          },
          {
            title: "innovate",
            value: 6
          },
          {
            title: "communication",
            value: 11
          }
        ]
      },
      educationOptions: {
        titleOptions: {titleText: "education", icon: "star", isBigIndent: true},
        unorderedListOptions: {
          isColoredTitle: true,
          listItems: [
            {
              title: "master degree",
              date: "Feb 2011 - Jun 2014",
              subtitle: "university name",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            },
            {
              title: "master degree",
              date: "Feb 2011 - Jun 2014",
              subtitle: "university name",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            },
            {
              title: "master degree",
              date: "Feb 2011 - Jun 2014",
              subtitle: "university name",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            },
            {
              title: "master degree",
              date: "Feb 2011 - Jun 2014",
              subtitle: "university name",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            }
          ]
        }
      },
      experienceOptions: {
        titleOptions: {titleText: "experience", icon: "bag", isBigIndent: true},
        unorderedListOptions: {
          listItems: [
            {
              title: "company name",
              date: "Feb 2011 - Jun 2014",
              subtitle: "your job here",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            },
            {
              title: "company name",
              date: "Feb 2011 - Jun 2014",
              subtitle: "your job here",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            },
            {
              title: "company name",
              date: "Feb 2011 - Jun 2014",
              subtitle: "your job here",
              text: "Lorem ipsum dolor sit amet, consectetuer " +
                "adipiscing elit. Aenean commodo ligula eget dolor. " +
                "Aenean massa. Cum sociis natoque penatibus et magnis " +
                "dis parturient montes, nascetur ridiculus mus. " +
                "Donec quam felis, ultricies nec, pellentesque."
            }
          ]
        }
      },
      softwareOptions: {
        titleOptions: {titleText: "software", icon: "computer", isBigIndent: true},
        leftBarItems: [
          {
            title: "photoshop",
            completedProgress: 91
          },
          {
            title: "illustrator",
            completedProgress: 71
          },
          {
            title: "indesign",
            completedProgress: 56.5
          }
        ],
        rightBarItems: [
          {
            title: "dreamweaver",
            completedProgress: 84
          },
          {
            title: "after effects",
            completedProgress: 62
          },
          {
            title: "html&css3",
            completedProgress: 92
          }
        ]
      }
    })

