doctype html
html
  head
    meta(charset='utf-8')
    meta(name="keywords", content="graphic designer, graphic designer " +
    "resume, experienced graphic designer")
    meta(name="description", content="Graphic designer with higher " +
    "education and extensive experience with the knowledge of photoshop, " +
    "illustrator and many other programs")
    meta(name='viewport' content="initial-scale=1.0, width=device-width")
    title Resume
  body
    include components/wrapper/wrapper
    +wrapper

