doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content="width=device-width, initial-scale=1")
        title Webpack app
        //base(href="https://morganalf.github.io/portfolio/dist")
        body
            .wrapper
                include column/column_size_4
                include column/column_size_6

