doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title Webpack app
        body
            .wrapper
                include column/column_size_4
                include column/column_size_6

