include components/wrapper/wrapper
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="keywords", content="graphic designer, graphic designer " +
        "resume, experienced graphic designer")
    meta(name="description", content="Graphic designer with higher " +
        "education and extensive experience with the knowledge of photoshop, " +
        "illustrator and many other programs")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="msapplication-TileColor" content="#9f00a7")
    meta(name="theme-color" content="#ffffff")
    title Resume
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="site.webmanifest")
    link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
  body
    +wrapper

