.personal-data
    .personal-data__picture
        img.personal-data__img(src='/images/photo.jpg')
    h1.personal-data__name NAME HERE
    h2.personal-data__surname SURNAME
    h3.personal-data__profession GRAPHIC DESIGNER