@import  "././variables.styl"

.personal-data
  padding-top: 12px
  text-align: center
  &__picture
    display: inline-block
    width: 100%
    max-width: 240px
    margin: 0 0 18px 23px
    border-radius: 50%
    border 1px solid blue
    overflow: hidden
    &:after
      content ''
      padding-top: 100%
      float: left
  &__name
    margin-left: 25px
    font-size 54px
    font-weight: 300
    text-transform uppercase
    letter-spacing: 0.012em
  &__surname
    margin: 0 0 8px 21px
    font-size 64px
    font-weight: 600
    line-height: 0.85
    text-transform uppercase
    letter-spacing: -0.008em
  &__profession
    margin-left: 25px
    font-size 26px
    font-weight 600
    text-transform uppercase
    letter-spacing: -0.026em
